



      

          .travelInfoFirstRow input {
              width: 450px;
              height: 50px;
              font-size: 15px;
              border: none;
              border-radius: 18px;
              padding: 20px;
              margin: 10px;
             
              font-size: 15px;
              font-weight: 500;
              color: #000;
             
            }

         .travelInfoSecondRow {
           margin-top: 15px;
         }

            .travelInfoSecondRow input {
              width: 200px;
              height: 50px;
              font-size: 15px;
              border: none;
              border-radius: 18px;
              padding: 20px;
              margin-top: 15px;
              margin-left: 15px;
              margin-right: 15px;
              font-size: 15px;
              font-weight: 500;
              color: #000;
             
            }