@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  margin: 0;
}
h1 {
  text-align: center;
  font-size: 81px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 500;
}

h3 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 50px;
}

h2 {
  font-size: 48px;
}

img {
  max-width: 100%;
}

input,
::placeholder {
  font-family: "Quicksand", sans-serif;
}

.btn {
  background-color: #f9b532;
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
  box-shadow: -10px 10px 2px 1px black;
}

.btn-form {
  background-color: #f9b532;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  box-shadow: -10px 10px 2px 1px black;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.card {
  width: 400px;
  height: 600px;
  margin: 20px;
  background-color: #fff;
  border-radius: 5%;
  border: 2px solid #000;
  box-shadow: -10px 10px 2px 1px black;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-fill {
  flex: 1 1 auto;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

/* style header */

nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: 200px;
}

.logo img {
  height: 150px;
  margin-top: 20px;
  margin-left: 20px;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #69dc8a;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: block;
  width: 40px;
  height: 6px;
  margin-bottom: 10px;
  position: relative;
  background: black;
  box-shadow: -4px 4px 1px 1px #69dc8a;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, 7px);
  background: #232323;
  -webkit-transform: rotate(45deg) translate(-2px, 7px);
  -moz-transform: rotate(45deg) translate(-2px, 7px);
  -ms-transform: rotate(45deg) translate(-2px, 7px);
  -o-transform: rotate(45deg) translate(-2px, 7px);
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -8px);
  -webkit-transform: rotate(-45deg) translate(0, -8px);
  -moz-transform: rotate(-45deg) translate(0, -8px);
  -ms-transform: rotate(-45deg) translate(0, -8px);
  -o-transform: rotate(-45deg) translate(0, -8px);
}
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul {
  transform: none;
}

.login img {
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
}

.icon-container {
  position: absolute;
  top: 40px;
  right: 50px;
  border: 1px solid black;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.loggedin-icon {
  position: relative;
  top: -21px;
  right: 21px;
  cursor: pointer;
}

.icon-container p {
  position: absolute;
  top: 90px;
  right: 30px;
}

.icon-container .loggedin-icon img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

/* style login */
.form {
  margin: 0 25%;
  margin-bottom: 300px;
  padding-top: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #41c2f4;
  width: 60%;
  height: 60%;
  box-shadow: -10px 10px 2px 1px #69dc8a;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
}

.inscription {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
}
.inscription p {
  margin-left: 60px;
}
.inscription p a {
  padding-left: 10px;
  color: black;
}
.inscription a {
  color: black;
}
.password {
  cursor: pointer;
}
.password a {
  text-decoration: none;
}

input {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
  color: gray;
  width: 500px;
  height: 70px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.checkbox {
  width: 25px;
  height: 25px;
}

/* style connexion */

.check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.cross {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 40px;
  font-weight: 600;
  margin-left: 10px;
}
input {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
  color: gray;
  width: 600px;
  height: 70px;
}

.connection {
  font-size: 40px;
  font-weight: 600;
  display: block;
  align-self: flex-end;
}

.connection a {
  color: black;
  padding-left: 10px;
}

/* style account */

.form-account {
  margin: 0 10%;
  margin-bottom: 300px;
  padding-top: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #41c2f4;

  height: 60%;
  box-shadow: -10px 10px 2px 1px #69dc8a;
}

.left textarea {
  border-radius: 10px;
}

.form-account input {
  width: 400px;
  height: 50px;
}
​




/* gallery style  */

.profil {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25%;
}
h1 {
  text-align: center;
  font-size: 81px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 500;
  margin-right: 10px;
}
.profil-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  border: 2px solid #000;
  box-shadow: -10px 10px 2px 1px #000;
}
.photouser {
  width: 300px;
  height: 300px;
  margin-top: 25px;
  border-radius: 5%;
  border: 2px solid #000;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
.username {
  font-size: 40px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}
.share {
  height: 300px;
  width: 75%;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #69dc8a;
  border-radius: 5px;
  box-shadow: -10px 10px 2px 1px #41c2f4;
}

.section1 {
  background-color: #41c2f4;
  width: 75%;
  display: block;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  box-shadow: -10px 10px 2px 1px #69dc8a;
}

.container-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.photo-container {
  width: 300px;
  height: 300px;
  margin-top: 25px;
  border-radius: 5%;
  border: 2px solid #000;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.photo-container img {
  width: 100%;
  height: 100%;
  border-radius: 13px;
}
.image-title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-delete {
  background: url(../images/croix.svg);
  background-repeat: no-repeat;
  border: 0;
  height: 27px;
  width: 27px;
  cursor: pointer;
}

.btn-modify {
  background: url(../images/modify.svg);
  background-repeat: no-repeat;
  border: 0;
  height: 43px;
  width: 40px;
  cursor: pointer;
}

.buttons {
  display: flex;
}

/*style footer*/

footer {
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #69dc8a;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  display: flex;
}

.error {
  color: red;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
